/* Common styles */
body {
  background-color: #ffd3b6;
  font-family: 'Halant', serif;
  font-size: 20px;
}

h1, h2 {
  text-align: center;
  font-family: 'Halant', serif;
}

header {
  padding: 20px 20px; /* Equal padding on the left and right sides */
  text-align: center;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

header > div {
  background-color: #ffe1cc;
  padding: 15px;
  width: 97%;
  float: left;
  font-weight: 600;
  font-size: large;
}

a {
  color: inherit;
  text-decoration: none;
}

nav a {
  padding: 10px;
  margin: 0 30px;
  border-radius: 8px;
}

nav a:hover {
  background-color: #f7b587;
  color: #000000;
}

footer {
  background-color: #ffe1cc;
  padding: 20px 20px; /* Equal padding on the left and right sides */
  text-align: center;
  width: 100%;
  overflow: auto;
  font-size: small;
  
}

/* Specific styles */
#container {
  background-color: #fbe8da;
  max-width: 850px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 50px;
  box-shadow: 0 12px 18px #0000001A;
}

#form-cont {
  background-color: #fbe8da;
  width: 640px;
  height: 680px;
  margin: 10px auto;
  text-align: left;
  margin-bottom: 20px;
  border-radius: 50px;
  padding: 50px;
  box-shadow: 0 12px 18px #0000001A;
}

label {
  margin-right: 200px;
  display: inline-block;
  margin-bottom: 20px;
}

/* Adjustments for specific elements */
#submit {
  margin-left: 350px;
}

#user-photo {
  margin-left: 50px;
}

input[type="submit"]:hover {
  background-color: #e69e6a;
}

input[type="submit"] {
  background-color: #f7b587;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
