/* Common styles  #faf1e7, #ffd3b6; */
body {
  background-color:  #faf1e7;
  font-family: 'Halant', serif;
  font-size: 20px;
}

.homemade-apple-regular {
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
}


h1, h2 , footer{
  text-align: center;

}

header {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  border-bottom: 2px solid #ccc; /* Add a border bottom */
  
}

header > div {
  background-color: #fbe8da;
  padding: 15px;
  width: 97%;
  font-weight: 600; 
  display: flex; /* Use flexbox */
  justify-content: space-around; /* Equal space between blocks */
}

/* Adjustments for specific elements */
header > div a {
  color: inherit;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
}

header > div a:hover {
  background-color: #ffe1cc;
  color: #000000;
}

main {
   
  margin: 0 auto; /* Center the main content */
  
}

main > div > figure > figcaption  {
  text-align: center;
  font-style: italic;
}

main > div >  figure > img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

nav a {
  padding: 10px 15px;
  margin: 0 15px;
  border-radius: 8px;
}

nav a:hover {
  background-color: #f7b587;
  color: #000000;
}

footer {
  
  padding: 20px 0px; /* Equal padding on the left and right sides */
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  
  }

/* Specific styles */
main > div {
  background-color: #fbe8da;
  max-width: 850px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 12px 18px #0000001A;
  
}

#form-cont { 
  height: 680px;
  margin: 10px auto;
  text-align: left;
  margin-bottom: 20px;
  border-radius: 50px;
  padding: 50px; 
}

label {
  margin-right: 200px;
  display: inline-block;
  margin-bottom: 20px;
}

/* Adjustments for specific elements */
#submit {
  margin-left: 350px;
}

#user-photo {
  margin-left: 50px;
}

input[type="submit"]:hover {
  background-color: #e69e6a;
}

input[type="submit"] {
  background-color: #f7b587;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}