/* my WEB215 styles would go here */

body {
    background-color: #ffd3b6;
    font-family: 'Halant', serif;
  }
  
h2{
  text-align: center;
  font-family: 'Halant', serif;
  margin-bottom: 3px;
  }
  h1{
    text-align: center;
  font-family: 'Halant', serif;
  margin-bottom: 0px;
  font-size: x-large;

    
  }
#welcome{
  text-align: center;
 } 

main{
    width: 95%; 
    margin: 0 auto; /* Center the main content */
}

  .header {  
    padding: 10px;
    text-align: center;
    
  }

  .nav {
    background-color: #ffe1cc;
    padding: 15px; 
    width: 97%;
    float: left;
    font-weight: 600;
    font-size: large;
  }

  a{
    color: inherit;  
    text-decoration: none;

  }
  
  nav a {   
    text-decoration: none;
    padding: 10px;
    margin: 0 30px;
    border-radius: 8px;
  }

  nav a:hover {
    background-color: #f7b587;
    color: #000000; 
   
  }
  
footer{
    background-color: #ffe1cc;
    padding:  0px 18px ; 
    text-align: center;
   
    width: 96.8%;  
    overflow: auto;
    font-size: small;
    
}

.corbeau, figure{
  text-align: center;
  font-style: italic;
}
figure{
  padding-top: 3%;
  margin-bottom: 0;
}
.signature{
  font-style: italic;
}
.sign , .web{
  text-decoration: underline;
}

.active {
  background-color: #f7b587 ;
  

}

#container{
  background-color: #fbe8da; /* Light background color for the container */
  max-width: 850px; /* Adjust the maximum width of the container */
  margin: 10px auto; /* Center the container on the page and add top margin */
  padding: 10px; /* Add padding inside the container */
  text-align: center;
  margin-bottom: 10px; /* Add margin to the heading and paragraphs for spacing */
  border-radius: 50px;
}


/* form */
#form-cont{
  background-color: #fbe8da;
  width: 640px;
  height: 680px;
  margin: 10px auto;
  text-align: left;
  margin-bottom: 20px; 
  border-radius: 50px;
  padding: 50px; 

}
label {
  margin-right:200px;
  display: inline-block;
  margin-bottom: 20px; /*create a br*/
}
#personalbackgroung{
  margin-left: -4px;
 
}
#probackgroung{
  margin-left: -26px;

}
#acabackgroung{
  margin-left: -9px;
}

#subbackgroung{
  margin-left: -39px;
 
}
#platform{
  margin-left: -42px;
}
#coursebackgroung{
  margin-left: -32px;
}

#funny{
  margin-left: -73px;
}

#favpro{
  margin-left: -88px;
}

#submit{
  margin-left: 350px;
}

#user-photo{
  margin-left: 50px;
}

input[type="submit"]:hover {
  background-color: #e69e6a;
}

input[type="submit"] {
  background-color: #f7b587;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* form end  */