/* my WEB215 styles would go here */

body {
    background-color: #ffd3b6;
    font-family: 'Halant', serif;
  }
  
h2{
  text-align: center;
  font-family: 'Halant', serif;
  margin-bottom: 3px;
  }
  h1{
    text-align: center;
  font-family: 'Halant', serif;
  margin-bottom: 0px;
  font-size: x-large;

    
  }
#welcome{
  text-align: center;
 } 

main{
    width: 95%; 
    margin: 0 auto; /* Center the main content */
}

  .header {  
    padding: 10px;
    text-align: center;
    
  }

  .nav {
    background-color: #ffe1cc;
    padding: 15px; 
    width: 97%;
    float: left;
    font-weight: 600;
    font-size: large;
  }

  a{
    color: inherit;  
    text-decoration: none;

  }
  
  nav a {   
    text-decoration: none;
    padding: 10px;
    margin: 0 30px;
    border-radius: 8px;
  }

  nav a:hover {
    background-color: #f7b587;
    color: #000000; 
   
  }
  
footer{
    background-color: #ffe1cc;
    padding:  0px 18px ; 
    text-align: center;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the bottom of the page */
    width: 96.8%;  
    overflow: auto;
    font-size: small;
    
}


.corbeau, figure{
  text-align: center;
  font-style: italic;
}
figure{
  padding-top: 3%;
  margin-bottom: 0;
}
.signature{
  font-style: italic;
}
.sign , .web{
  text-decoration: underline;
}

#container{
  
}