/* my WEB215 styles would go here */

body {
    background-color: #ffd3b6;
   
  }
  
  h1, h2, h3{
     text-align: center;

  }
main{
  
    width: 60%; 
    margin: 0 auto; /* Center the main content */
}

  .header {  
    padding: 20px;
    text-align: center;
  }

  .nav {
    background-color: #ffe1cc;
    padding: 20px;
    text-align: center; 
  }

  a{
    color: inherit;  
  }
  
  nav a {   
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    border-radius: 8px;
    background-color: #ffd3b6;
  
  }

  nav a:hover {
    background-color: #f7b587;
    color: #000000;
    
    
  }


  img {
    display: block; 
    margin: 0 auto; 
  }
  
.footer{
    background-color: #ffe1cc;
    padding:  0px 18px; 
    text-align: center;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the bottom of the page */
    width: 96.8%;  
    overflow: auto;
    font-size: small;
}


.corbeau{
  text-align: center;
  font-style: italic;

}

.signature{
  font-style: italic;

}
